@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*{
    margin: 0;
    font-family: "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased; /* Webkit-specific for smoother fonts */
    font-optical-sizing: auto;
    font-weight: 700;
    padding: 0;
    box-sizing: border-box;
}

.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #212129;
    color: white;
    padding: 20px;
    -webkit-box-shadow: 1px 3px 5px #373740; /* Webkit-specific for box-shadow */
    box-shadow: 1px 3px 5px #373740;
}

.navitems ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 50px;
}

.navitems ul li{
    list-style: none;
    margin-right: 20px;
}

.navitems ul li:hover{
    color: #68ebe2;
    cursor: pointer;
}

.logo{
    text-align: center;
    padding-left: 50px;
}
.logo h1{
    color: #68ebe2;
    font-size: 32px;
}
.logo p{
    font-weight: 300;
    font-size: 14px;
}

/* Mobile nav bar*/
.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 30px;
    height: 25px;
    cursor: pointer;
    margin-right: 20px;
    z-index: 10; /* Ensures the icon stays on top of the content */
}

.menu-toggle span {
    background-color: white;
    height: 3px;
    width: 100%;
    margin: 3px 0;
    display: block;
    -webkit-transition: all 0.3s ease; /* Webkit-specific for transition */
    transition: all 0.3s ease;
}

/* Close Icon Styles */
.menu-toggle.active span:nth-child(1) {
    -webkit-transform: rotate(45deg) translate(5px, 5px); /* Webkit-specific transform */
    transform: rotate(45deg) translate(5px, 5px);
}

.menu-toggle.active span:nth-child(2) {
    opacity: 0; /* Hides the middle bar */
}

.menu-toggle.active span:nth-child(3) {
    -webkit-transform: rotate(-45deg) translate(5px, -5px); /* Webkit-specific transform */
    transform: rotate(-45deg) translate(5px, -5px);
}

/* Responsive Media Query */
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .logo {
        padding-left: 20px;
    }

    .navitems ul {
        display: none;
        flex-direction: column;
        width: 100%;
        padding-left: 20px;
    }

    .menu-toggle {
        display: flex;
    }

    .navitems.active ul {
        display: flex;
        flex-direction: column;
        width: 100%;
        padding-left: 0;
    }

    .navitems ul li {
        margin-right: 0;
        margin-bottom: 10px;
    }

    
}

.hero {
    position: relative;
    width: 100%;
    height: 80vh;
    background-image: url("../images/img1.jpg"); /* Main background image */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* Gradient overlay */
.hero::after {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%; /* This ensures the gradient only covers the right side */
    background: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(104, 235, 226, 0.4)); /* Light blue gradient */
    z-index: 1;
}

/* Text styles */
.txt-edit {
    position: relative;
    color: #68ebe2;
    font-weight: 600;
    z-index: 2;
}

.hero-text h1 {
    position: relative;
    z-index: 2; 
    font-size: 58px;
    color: white;
}

.span-edit{
    color: #68ebe2;
}

.hero-text{
    width: 50%;
    padding: 50px;
}

hr.solid {
    border-top: 2px solid #68ebe2;
    width: 20%;
}

.hero-text p:nth-of-type(2) {
    color: #fff;
    font-size: 16px;
    margin-top: 20px;
    font-weight: 300;
}

@media (max-width: 768px) {
    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .hero-text{
        width: 100%;
        padding: 0px;
    }
    .hero-text h1{
        font-size: 32px;
    }
    hr.solid {
        position: relative;
        top: 0;
        bottom: 0;
        right: 0;
        left: 25%;
        border-top: 2px solid #68ebe2;
        width: 50%;
        align-self: center;
    }
}


.services-section{
    background-color: #09090b;
    display: flex;
    flex-direction: row;
    width: 100%;
    color: white;
}

.service-text{
    width: 40%;
    padding: 50px;
}

.service-text h1{
    font-size: 48px;
}

.service-text p:nth-of-type(2){
    font-size: 16px;
    font-weight: lighter;
    line-height: 2rem;
    padding-top: 25px;
}

.services{
    width: 60%;
    padding: 50px;
}

.services-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    padding: 20px;
    max-width: 600px;
    margin: 0 auto;
}

.service-item {
    background-color: #21212971;
    
    color: white;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); /* Webkit-specific */
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    -webkit-transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out; /* Webkit-specific */
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.service-item:hover {
    transform: translateY(-10px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    background-color: #68ebe247;
}

.service-icon img {
    width: 60px; /* Adjust the size of the icon */
    margin-bottom: 15px;
    
}

h3 {
    font-size: 24px;
    margin-bottom: 10px;
    color: #ffffff;
}

p {
    color: #bbb;
    font-size: 14px;
    font-weight: 300;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .services-grid {
        grid-template-columns: 1fr;
        padding: 10px;
    }

    .services-section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .service-text{
        width: 100%;
        padding-top: 50px;
        text-align: center;
    }
    .service-text h1{
        font-size: 32px;
    }
    .services{
        width: 60%;
        /* height: 50%;
        overflow: scroll; */
        padding: 0px;
    }
}

.about-us{
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #212129;
}

.about-img{
    width: 40%;
    /* height: 80%;     */
}

.about-img img{
    width: 476px; 
    height: 492px;
    position: relative;
    left: 30px;
    top: 50px;
    right: 0;
    bottom: 0;
}

.about-text{
    width: 70%;
    padding: 50px;
}

.features-grid {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
    background-color: #212129; /* Dark background */
}

.feature-item {
    text-align: center;
    color: white;
    padding: 20px;
    border-radius: 10px;
    width: 250px; /* Control the width of each item */
    -webkit-transition: transform 0.3s ease-in-out; /* Webkit-specific */
    transition: transform 0.3s ease-in-out;
}

.feature-icon img {
    width: 60px;
    margin-bottom: 15px;
}

h3 {
    font-size: 20px;
    margin-bottom: 10px;
    color: white;
}

p {
    font-size: 14px;
    color: #bbb;
}

/* Responsive adjustments for mobile */
@media (max-width: 768px) {

    .about-us{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .about-text{
        width: 100%;
        text-align: center;
        padding: 0px;
    }
    .about-text h1{
        font-size: 32px;
    }
    .about-img{
        width: 40%;
        /* height: 80%;     */
    }

    .about-img img{
        width: 376px; 
        height: 392px;
        position: relative;
        left: -100px;
        top: 0px;
        right: 0px;
        bottom: 0;
    }

    .features-grid {
        flex-direction: column;
    }

    .feature-item {
        width: 100%;
        margin-bottom: 20px;
    }
}

.portfolio{
    width: 100%;
    background-image: url("../images/img2.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    color: white;
}

.portfolio-text{
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.portfolio-text h1{
    font-size: 48px;
    color: white;
}

.portfolio-text p:nth-of-type(2){
    font-size: 16px;
    font-weight: 500;
    line-height: 2rem;
    padding-top: 25px;
}

.carousel {
    width: 50%; /* Full width of the container */
    display: flex;
    justify-content: center; /* Center the cards */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    margin: 0 auto;
    gap: 20px;
    padding: 20px;
    align-items: center;
    
}

.carousel a {
    text-decoration: none;
    color: inherit;  /* Ensures the text color stays as defined inside the card */
}

.card {
    background-color: #212129;
    color: white;
    border-radius: 8px;
    overflow: hidden;
    margin: 0px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%; /* Use percentage for responsive sizing */
    transition: transform 0.3s ease; /* Add hover effect */
}

.card:hover {
    transform: scale(1.05);
    border-radius: 8px;
}

.card-image {
    width: 100%;
    height: 200px;
    background-position: top;
    background-size: cover;
}

.card-text {
    padding: 20px;
}

.card-text p {
    font-size: 14px;
    color: #d0d0d0;
}

/* Media Queries for Responsiveness */
@media (max-width: 1200px) {
    .card {
        width: 45%; /* Wider card on medium-sized screens */
    }
    
}

@media (max-width: 768px) {
    .carousel {
        width: 90%; /* Full width of the container */
    }
    .card {
        width: 100%; /* Full-width card on mobile screens */
    }

    .portfolio-text hr{
        position: relative;
        top:0;
        bottom: 0;
        left:0;
        right: 25%;
    }
}


/* Background section */
.contact-section {
    width: 100%;
    height: 100vh;
    background-image: url('../images/network.jpg');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-attachment: fixed;
    -webkit-background-size: cover; /* Webkit-specific */
}

.contact-container {
    background-color: rgba(0, 0, 0, 0.8); /* Transparent black */
    color: white;
    padding: 40px;
    border-radius: 10px;
    max-width: 700px;
    width: 100%;
    text-align: center;
    z-index: 2;
}

/* Styling for the header */
.contact-container h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #fff;
}

.contact-container h1 span {
    color: #68ebe2; /* Accent color for the word "Touch" */
}

.contact-container p:nth-child(3) {
    font-size: 16px;
    color: #cfcfcf;
    margin-bottom: 40px;
}

/* Contact details */
.contact-details {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Icon and Text Containers */
.contact-details div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.contact-details i {
    font-size: 30px;
    color: #68ebe2; /* Icon color */
}

.contact-details h3 {
    margin: 0;
    color: white;
}

.contact-details p {
    margin: 0;
    color: #68ebe2;
}

/* Responsive Styling */
@media (max-width: 768px) {
    .contact-container {
        padding: 20px;
    }

    .contact-details {
        flex-direction: column;
    }

    .contact-details div {
        justify-content: center;
        text-align: center;
    }
}
